body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;

  @media only screen and (min-width: 800px) {
    font-size: 14px;
  }

  @media only screen and (min-width: 1000px) {
    font-size: 18px;
  }
}

h1 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.mainContent {
  margin: auto;

  @media only screen and (min-width: 800px) {
    width: 75%;
    max-width: 1200px;
  }
}

.graphContainer {
  //background-color: aliceblue;
  position: relative;
  box-sizing: border-box;
  padding: 0 32px;
  height: 65vh;

  @media only screen and (min-height: 600px) {
    height: 75vh;
  }
}

.controlContainer {
  //background-color: #FFF0F0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 30vh;

  @media only screen and (min-height: 600px) {
    height: 20vh;
  }
}

.logToggle {
  &Container {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    @media only screen and (min-height: 600px) {
      height: 5vh;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + label {
      border-radius: calc(1em - 2px);
      background-color: #c4dfff;
    }

    #logToggle_linear + label {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    #logToggle_log + label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &Shell {
    border-radius: 1.5em;
    border: 2px solid #4285f4;

    label {
      font-size: 1.5em;
      padding: .5em 1em;
      display: inline-block;
      cursor: pointer;
      width: 5em;
      text-align: center;
    }
  }
}

.controlButton {
  font-size: 1.5em;
  display: inline-block;
  margin: 0 .25em;

  &Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: #c4dfff;
  }

  label {
    display: inline-block;
    border: 2px solid #4285f4;
    box-sizing: border-box;
    padding: .7em .5em .5em .5em;
    border-radius: .2em;
    line-height: 1;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: white;
  }
}