@import './styleguide.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $c-aqua-haze;
}

ul {
  margin: 0 0 16px 0;
  padding: 0 0 0 16px;
}

h1 {
  @include t-h1;
  margin: 0 0 16px 0;
}
h2 { @include t-h2; }
h2 { @include t-h2; }
p { @include t-p; }
a {
  color: $c-sunglo;
  text-decoration: none;
}

@mixin sectionTitleSmall() {
  @include t-mono;
  margin-bottom: 16px;
  font-size: 14px;
}

.layoutWrapper {
  max-width: 1086px;
  margin: 0 auto;
}

.mainContent {
  box-sizing: border-box;
  margin: 0 24px;

  &::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    background-color: $c-cape-cod;
    height: 10px;
    margin-bottom: -10px;
  }
}

.pageTitle {
  @include sectionTitleSmall;
  margin-top: 42px;
  font-size: 12px;
}

.graphTitle {
  margin-bottom: 32px;
}

.graphContainer {
  box-sizing: border-box;
  padding: 8px;
  background-color: $c-white;
  width: 100%;
  height: (100vw * 200 / 375);
  margin-bottom: 24px;

  @media only screen and (min-width: $b-desktop-width) {
    height: 50vh;
  }
}

.graphLegend {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-evenly;

  &Text {
    @include t-mono;

    margin-top: 19px;
    margin-left: 0;
    box-sizing: border-box;
    padding-right: 16px;

    @media only screen and (min-width: $b-desktop-width) {
      margin-top: 0;
      margin-left: 16px;
    }
  }

  &ConfirmedCases, &Prediction {
    width: 50%;
    display: inline-block;

    @media only screen and (min-width: $b-desktop-width) {
      width: auto;
      display: inline-flex;
      align-items: center;
    }
  }

  &ConfirmedCases {
    &Bubbles {
      display: flex;
      align-items: center;
      height: 21px;

      span {
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid $c-sunglo;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-left: 9px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &Prediction {
    &Line {
      display: flex;
      width: 54px;
      height: 21px;
      align-items: center;

      span {
        display: block;
        background-color: $c-turquoise;
        height: 2px;
        width: 100%;
        transform-origin: 50% 50%;
        transform: rotateZ(-0.370891289rad);
      }
    }
  }
}

.hrThin {
  margin: 0 0 24px 0;
  border: 0;
  border-top: 1px solid $c-cape-cod;
}

.hrThick {
  margin: 0 0 24px 0;
  border: 0;
  border-top: 10px solid $c-cape-cod;
}

.controlSectionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  flex-wrap: wrap;

  @media only screen and (min-width: $b-desktop-width) {
    flex-wrap: nowrap;
  }
}

.controlTitle {
  @include sectionTitleSmall;

  width: 100%;

  @media only screen and (min-width: $b-desktop-width) {
    width: 10em;
    margin-bottom: 16px;
  }
}

.controlContainer {
  $buttonSpacing: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .toggleButton {
    margin: 0 $buttonSpacing $buttonSpacing 0;
  }
}

.toggleButton {
  display: inline-block;

  input { display: none; }

  label {
    @include button;
  }

  input:checked + label {
    background-color: $c-white;
  }
}

.overallStats {
  &Row {
    width: 100%;
    margin-bottom: 24px;

    @media only screen and (min-width: $b-desktop-width) {
      width: calc(50% - 8px);
    }
  }

  &Container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &Value {
    font-weight: bold;
    font-size: 54px;
    color: $c-shark;
    line-height: 1.2em;

    @media only screen and (min-width: $b-desktop-width) {
      font-size: 60px;
    }
  }
}

.lowerSectionContent {
  margin-bottom: 40px;
}

.twitterLink {
  display: inline-flex;
  align-items: center;

  &Icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}