@import './styleguide.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $c-aqua-haze;
}

ul {
  margin: 0 0 16px 0;
  padding: 0 0 0 16px;
}

h1 {
  @include t-h1;
  margin: 0 0 16px 0;
}
h2 {
  @include t-h2;
  margin: 0 0 24px 0;
}
p { @include t-p; }
a {
  color: $c-sunglo;
  text-decoration: none;
}

@mixin sectionTitleSmall() {
  @include t-mono;
  margin-bottom: 8px;
  font-size: 14px;
}

.layoutWrapper {
  box-sizing: border-box;
  max-width: 1086px;
  margin: 0 auto;
  padding: 0 24px;

  &--first::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    background-color: $c-cape-cod;
    height: 10px;
    margin-bottom: -10px;
  }
}

.pageTitle {
  @include sectionTitleSmall;
  font-size: 12px;

  margin-top: 26px;

  @media only screen and (min-width: $b-desktop-width) {
    margin-top: 42px;
  }
}

.pageHeading {
  @media only screen and (min-width: $b-desktop-width) {
    margin-bottom: 32px;
  }
}

.graphTitle {
  display: none;

  @media only screen and (min-width: $b-desktop-width) {
    display: block;
  }
}

.graphContainer {
  box-sizing: border-box;
  padding: 8px;
  background-color: $c-white;
  width: 100%;
  height: (100vw * 200 / 375);
  margin-bottom: 24px;

  @media only screen and (min-width: $b-desktop-width) {
    height: 50vh;
    min-height: 300px;
  }
}

.graphLegend {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-evenly;

  &Text {
    @include t-mono;

    margin-top: 19px;
    margin-left: 0;
    box-sizing: border-box;
    padding-right: 16px;

    @media only screen and (min-width: $b-desktop-width) {
      margin-top: 0;
      margin-left: 16px;
    }
  }

  &ConfirmedCases, &Prediction {
    width: 50%;
    display: inline-block;

    @media only screen and (min-width: $b-desktop-width) {
      width: auto;
      display: inline-flex;
      align-items: center;
    }
  }

  &ConfirmedCases {
    &Bubbles {
      display: flex;
      align-items: center;
      height: 21px;

      span {
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid $c-sunglo;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-left: 9px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &Prediction {
    &Line {
      display: flex;
      width: 54px;
      height: 21px;
      align-items: center;

      span {
        display: block;
        background-color: $c-turquoise;
        height: 2px;
        width: 100%;
        transform-origin: 50% 50%;
        transform: rotateZ(-0.370891289rad);
      }
    }
  }
}

.hr {
  &Thick, &Thin, &XThin {
    border: 0;
    border-top: 0 solid $c-cape-cod;
    margin: 0 0 24px 0;

    @media only screen and (min-width: $b-desktop-width) {
      margin: 0 0 38px 0;
    }
  }

  &XThin { border-top-width: 1px; }
  &Thin { border-top-width: 4px; }
  &Thick { border-top-width: 10px; }
}

.hrPushTop {
  margin-top: 64px;
}

.mainReorder {
  display: flex;
  flex-direction: column;

  .controlSectionContainer { order: 3; }
  .graphContainer { order: 1; }
  .graphLegend { order: 2; }

  @media only screen and (min-width: $b-desktop-width) {
    .controlSectionContainer { order: 1; }
    .graphContainer { order: 2; }
    .graphLegend { order: 3; }
  }
}

.controlSectionContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media only screen and (min-width: $b-desktop-width) {
    flex-wrap: nowrap;

    #scaleControl .controlContainer {
      flex-wrap: nowrap;
    }

    #locationControl {
      .controlContainer { max-width: 40em; }
    }

    &Separator {
      display: none;
    }
  }

  &Separator {
    width: 100%;
  }
}

.controlSection {
  margin-bottom: 16px;

  &Collapser {
    display: none;

    &Label {
      @include button();
      display: block;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      background-color: $c-shark;
      color: $c-aqua-haze;
      position: absolute;
      max-height: 3em;
      overflow-y: hidden;
      transition:
        max-height 300ms ease-in,
        padding-top 300ms ease-in,
        padding-bottom 300ms ease-in,
        border-top-width 300ms ease-in,
        border-bottom-width 300ms ease-in;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 4px);
        right: 21px;
        border: 1px solid $c-aqua-haze;
        border-left-color: transparent;
        border-top-color: transparent;
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        transform: translateY(-2px) rotateZ(45deg);
        transform-origin: 50% 50%;
        transition: transform 100ms ease-in;
      }
    }

    &:checked ~ &Label {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-top-width: 0;
      border-bottom-width: 0;

      &::after {
        transform: translateY(3px) rotateZ(225deg);
      }
    }

    &Area {
      overflow-y: hidden;
      max-height: 0;
      width: 100%;
      transition:
        max-height 300ms ease-in,
        margin-top 300ms ease-in;
      margin-top: 64px;
    }

    &:checked ~ &Area {
      max-height: 30em;
      margin-top: 0;
    }

    @media only screen and (min-width: $b-desktop-width) {
      &Area {
        justify-content: space-between;
        max-height: 30em;
        margin-top: 0;
        display: flex;
        flex-wrap: nowrap;
      }
      &Label { display: none; }
    }
  }
}

.controlTitle {
  @include sectionTitleSmall;

  width: 100%;

  @media only screen and (min-width: $b-desktop-width) {
    width: 10em;
    margin-bottom: 16px;
  }
}

.controlContainer {
  $buttonSpacing: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .toggleButton {
    margin: 0 $buttonSpacing $buttonSpacing 0;
  }
}

.toggleButton {
  display: inline-block;

  input { display: none; }

  label {
    @include button;
  }

  input:checked + label {
    background-color: $c-shark;
    color: $c-aqua-haze;
  }
}

.overallStats {
  &Row {
    width: 100%;
    margin-bottom: 24px;

    @media only screen and (min-width: $b-desktop-width) {
      width: calc(50% - 8px);
    }
  }

  &Container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &ValueContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &Value {
    display: inline-block;
    font-weight: bold;
    font-size: 54px;
    color: $c-shark;
    line-height: 1.2em;
    padding-right: 14px;

    @media only screen and (min-width: $b-desktop-width) {
      font-size: 60px;
    }
  }

  &Tag {
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    background-color: $c-cape-cod;
    padding: 8px;
    color: $c-white;
    border-radius: 3px;
    line-height: 1em;
    text-align: center;
    transform: translateY(-9px);

    &--positive { background-color: $c-apple; }
    &--negative { background-color: $c-sunglo; }

    &Icon {
      width: 10px;
      margin-right: 4px;
    }
    &--down &Icon { transform: rotateZ(-90deg); }
    &--up &Icon { transform: rotateZ(90deg); }

    &Text { letter-spacing: 0.1em; }
  }
}

.lowerSectionContent {
  margin-bottom: 40px;
}

.twitterLink {
  display: inline-flex;
  align-items: center;

  &Icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 4px;

    svg {
      fill: $c-porcelain;
    }
  }
}

.darkSection {
  background-color: $c-shark;
  overflow: hidden;

  &, h1, h2, p {
    color: $c-porcelain;
  }

  .hrThin, .hrThick {
    border-top-color: $c-porcelain;
  }
}